<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Filmes</title>
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/filmes.css"/>
</head>
<body>
<div class="container container-padrao">

    <h2>Filmes Salvos</h2>

    <!-- Botões superiores -->
    <div class="btn-grupo">
        <a class="btn btn-success" th:href="@{/}">Página Inicial</a>
        <a class="btn btn-primary" th:href="@{/filmes/novo}">Cadastrar novo filme</a>
    </div>

    <!-- Campo de busca -->
    <form class="form-group mt-4" th:action="@{/filmes}" method="get">
        <label for="filtro">Buscar por ID, Título ou Data (YYYY-MM-DD):</label>
        <input type="text" name="filtro" id="filtro" class="form-control mb-2"
               placeholder="Ex: 1, Matrix, 2025-01-01" th:value="${filtro}">
        <button type="submit" class="btn btn-primary mt-2">Buscar</button>
    </form>

    <!-- Tabela de filmes -->
    <table class="table table-bordered table-striped mt-4">
        <thead class="thead-light">
        <tr>
            <th>Título</th>
            <th>Resumo</th>
            <th>Pontuação</th>
            <th>Lançamento</th>
            <th>Exemplares Disponíveis</th>
            <th>Ativo</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="filme : ${filmes}">
            <td th:text="${filme.titulo}">Título</td>
            <td th:text="${filme.resumo}" class="justificar">Resumo</td>
            <td th:text="${filme.pontuacao}">0.0</td>
            <td th:text="${filme.lancamento}">Data</td>
            <td th:text="${filme.exemplaresDisponiveis}">0</td>
            <td>
          <span class="badge"
                th:classappend="${filme.ativo} ? 'badge-success' : 'badge-danger'"
                th:text="${filme.ativo} ? 'Sim' : 'Não'"></span>
            </td>
            <td>
                <a th:href="@{/exemplares/por-filme(id=${filme.id})}" class="btn btn-sm btn-info mb-1">Exemplares</a>
                <a th:href="@{/filmes/editar(id=${filme.id})}" class="btn btn-sm btn-primary">Editar</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
