<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Filme</title>
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/filmes.css"/>
</head>
<body>
<div class="container container-padrao">
    <h2>Cadastro de Filme</h2>

    <form th:action="@{/filmes/buscar-api}" method="post">
        <div class="form-group">
            <label for="titulo">Buscar Filme:</label>
            <input type="text" id="titulo" name="titulo" class="form-control" required placeholder="Digite o nome do filme">
        </div>

        <div class="btn-grupo">
            <button type="submit" class="btn btn-primary">Buscar</button>
            <a th:href="@{/filmes}" class="btn btn-secondary">Voltar</a>
        </div>

        <div th:if="${erro}" class="alert alert-danger" th:text="${erro}"></div>
    </form>
</div>
</body>
</html>
