<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Locadora - Início</title>
    <link rel="stylesheet" href="/css/custom.css"/>
</head>
<body class="hold-transition layout-top-nav">
<div class="wrapper">
    <div class="content-wrapper">
        <div class="content-header text-center mt-5">
            <h1 class="display-4">Sistema da Locadora</h1>
            <p class="lead">Selecione uma opção</p>
        </div>

        <div class="container mt-5 text-center">
            <div class="btn-coluna">
                <a href="/filmes" class="btn btn-danger btn-lg">Filmes</a>
                <a href="/locacoes" class="btn btn-danger btn-lg">Locações</a>
            </div>
        </div>

        <form th:action="@{/logout}" method="post" style="display: inline;">
            <button type="submit" class="btn btn-danger">
                <i class="fas fa-sign-out-alt"></i> Sair
            </button>
        </form>

    </div>
</div>

</body>
</html>
